#nav_demineur{
	width: 100%;
	
	background-color: #2bd7d484;
	border-width: 2px;
	border-style: double;
	height: 25px;
	display: flex;
    justify-content:flex-start;
	
}

#body_demineur{
	background-color: #007BFF;
	
	margin: 0;
	
}

#jeu{
	
    display: flex;
    justify-content: left;
    border-width: 2px;
    border-style: double; 
    width: 49%;
    background-color: #fff;

}
#grille {
    display: grid;
    gap: 1px; /* Ajout d'un écart entre les cases pour une meilleure visibilité */
}
.button_case{
    width : 50px;
    height : 50px;
    border : 0px;

}


.item_nav{
	margin-top: 3px;
	padding-right: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

#cookies-popup.show,#options-popup.show {
    visibility: visible;
    opacity: 1;
}


.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

#accept-button, #refuse-button, #save-options, #close-options {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: #0056b3;
}

#refuse-button:hover,#accept-button:hover, #save-options:hover, #close-options:hover  {
    background-color: #1ecfee;
    
}

